<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TelecomNode</key>
	<array>
		<string>User_Alice</string>
		<string>MTAS</string>
		<string>HSS</string>
		<string>MTAS</string>
		<string>CDF</string>
		<string>User_Bob</string>
	</array>
</dict>
</plist>
